%% SPDX-License-Identifier: MIT
%% aria-planner LFE: planner core and interactivity domain (Phase 1).

{erl_opts, [debug_info]}.
{plugins, [rebar3_lfe]}.
{deps, [
  {lfe, "2.2.0"},
  {jiffy, "1.1.1"}
]}.

{provider_hooks, [
  {pre, [{compile, {lfe, compile}}]}
]}.

{shell, [
  {apps, [lfe]}
]}.

{eunit_opts, [verbose]}.
